<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1> Creating Services</h1>

<br><hr>
    <form class="container">
<label for="textfield">Title</label>
<input class="form-control" type="text" placeholder="Default input">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descritption</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" name="button">Create</button>
</form>

  </body>
</html>
